/* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Time Left</title>
</head>
<body>
    <div class="v_container">
        <div class="h_container">
            <input type="text" id="time" placeholder="Enter hours completed">
            <button onclick="timeLeft()">Calculate</button>
        </div>
        <p id="timeLeft"></p>
    </div>
    <script>
        function timeLeft() {
            let time = document.getElementById('time').value;
            let time_left_ms = 1743465600000 - Date.now() // milliseconds at 1/4/2025
            let time_required_left = (100 * 3600000) - time * 3600000; // 100 hours in milliseconds
            let days_left = time_left_ms / (1000 * 60 * 60 * 24);
            let time_per_day = time_required_left / days_left;
            let time_per_day_hours = (time_per_day / 3600000);
            console.log(days_left);
            document.getElementById('timeLeft').innerText = `${Math.floor(time_per_day_hours)} hour, ${Math.floor((time_per_day % 3600000) / 60000)} minutes per day`;        
        }
    </script>
</body>
</html> */

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1b4c57;
}

.v_container {
    text-align: center;
    background: rgb(255, 238, 208);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.h_container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
    font-size: larger;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #112f50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0f263e;
}

#timeLeft {
    background: rgb(197, 181, 152);
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    color: #333;
    max-width: 300px;
}